# Reading CSV Files From Multiple Directories

In [9]:
# import the libraries
import pandas as pd
import glob

In [10]:
# list all the files in the folder
for directory in glob.glob('datasets/multi-directory/*'):
    print(directory)

datasets/multi-directory\1985
datasets/multi-directory\1987
datasets/multi-directory\1997
datasets/multi-directory\1998
datasets/multi-directory\1999
datasets/multi-directory\2002
datasets/multi-directory\2004
datasets/multi-directory\2007
datasets/multi-directory\2009

---

Now, each of the folders **`1985`**, **`1987`**, **`1997`**, **`1998`**, **`1999`**, **`2002`**, **`2004`**, **`2007`** and **`2009`** contains CSV. We will iterate through each of them and concatenate the files.


---

In [11]:
# iterate through each of the files
for directory in glob.glob('datasets/multi-directory/*'):
    
    for files in glob.glob(directory + '/*'):
        print(files)

datasets/multi-directory\1985\1985.csv
datasets/multi-directory\1987\1987.csv
datasets/multi-directory\1997\1997.csv
datasets/multi-directory\1998\1998.csv
datasets/multi-directory\1999\1999.csv
datasets/multi-directory\2002\2002.csv
datasets/multi-directory\2004\2004.csv
datasets/multi-directory\2007\2007.csv
datasets/multi-directory\2009\2009.csv

---

***Concatenate the files.***

---

In [12]:
# list to store data frames
data_frame_list = []

# iterate through each folder
for directory in glob.glob('datasets/multi-directory/*'):
    
    # iterate through each file
    for files in glob.glob(directory + '/*'):
        # read and append the data frame
        data_frame_list.append(pd.read_csv(files))

In [13]:
# concatenate the dataframes
final_data = pd.concat(data_frame_list)

In [14]:
final_data.head()

,Unnamed: 0,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

---

*** Store the CSV ***

---

In [15]:
final_data.to_csv('datasets/merged_big_mart_sales.csv',index=False)